h1 {
    text-align: center;
    color: red;
    text-shadow: 4px 4px 5px rgb(180, 95, 95);
}

.greeting {
    color: rgb(10, 56, 56);
}

#italic {
    color: darkorange;
}

nav {
    background: aquamarine;
    text-align: center;
}

.nav-wrapper {
    background: rgb(16, 125, 197)
}

a {
    text-decoration-line: none;
     
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 25px;
}

.container {
    border: 10px dashed rgb(8, 86, 134); 
margin: 50px 10px 25px 0px;
padding: 30px 5px 10px 35px;
}

.box {
    background: rgb(0, 82, 82);
    height: 200px;
    width: 200px;
    margin: 10px 10px;
    }

@keyframes fadeMe {
    0% {
        opactity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes rotation {
    0%{transform: rotate(90deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}

#box2 {
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: 10%;
    background-image: radial-gradient(circle, purple, orange, yellow,pink, purple);
}

@keyframes getBigger {
    0% {transform: scale(1);}
    50% {transform: scale(2);}
    100% {transform: scale(.5);}
}

#box3 {
    animation: getBigger infinite 8s ease-in;
    border-radius: 50%;
    background: orange;
}


@keyframes changeColor {
    0% {background-color: grey;}
    25% {background-color: purple;}
    50% {background-color:  yellow;}
    75% {background-color: pink;}
    100% {background-color: grey;}
}


#box4 {
    animation: changeColor 4s infinite forwards;
}


@keyframes moveBox {
    0%{left: 0px; top: 0px;}
    25%{left: 100px; top: 0px;}
    50%{left: 100px; top: 200px;}
    75%{left: 0px; top: 200px;}
    100%{left: 0px; top: 0px;}
}

#box5 {
    position: relative;
    background: rgb(207, 70, 173);
    animation: moveBox 5s 3s;
}


#box1 {
    animation-name: fadeMe;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


#box6 {
    top: 10px;
    left: 20px;
    position: relative;
}

.contact-box {
    display: felx;
    justify-content: center;
}

.row {
    margin: 30px;
}


.circle-img {
    border-radius: 50%;
}

img {
    box-shadow: 10px 10px 10px 8px rgb(142, 153, 185);
}

.flex {
    margin: 30px;
    padding: 30px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    }

    form input, textarea, button {
        display: block;
        margin: 30px;
    }


    .wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(5, [col] 20% ) ;
        grid-template-rows: repeat(3, [row] auto  );
        background-color: white;
        color: #444;
    }

    .Box {
        background-color: white;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
        z-index:10;

    }

    .a {
        grid-column: col / span  2;
        grid-row: row ;
        justify-content: center;
    }
    .b {
        grid-column: col 4 / span  2 ;
        grid-row: row ;
        display: flex;
        justify-content: center;
        background: linear-gradient(pink, yellow, purple);
    }
    .c {
        grid-column: col / span 3 ;
        grid-row: row 2 ;
        justify-content: center;
    }
    .d {
        grid-column: col 1 / span 3  ;
        grid-row: row 3 ;
        justify-content: center;
    }

    .e {
        grid-column: col 3 / span 3 ;
        grid-row: row 3;
        justify-content: center;
    }

    .f {
        grid-column: col 4 / span 3;
        grid-row: row 2  ;
        background-image: linear-gradient(orange, purple, yellow, pink);
        justify-content: center;
        z-index: 20;
    }